{{#is @request.homepage}}
  {{> aside_homepage }}
  {{else}}
      {{#if this.tag}}
        <!-- si es la pag de tags tmb pongo los banners-->
        {{> aside_homepage }}
      {{else}}
        <div id="aside-right" class="span2">
          <aside role="complementary">
            <div class="moduletable ">
              <header>
                <h3 class="moduleTitle  visible-first">
                  <span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first">Relacionados</span>
                  <span class="item_title_part1 item_title_part_even item_title_part_second_half item_title_part_last"></span>
                </h3>
              </header>

              <ul class="categories-module visible-first">
                {{#suggested_posts }}
                    {{#each posts}}
                        <li> <a href="{{post_url}}"> {{title}} </a> </li>
                    {{/each}}
                {{/suggested_posts}}
              </ul>
            </div>
          </aside>
        </div>
      {{/if}}

{{/is}}
