<!-- banner radio y web -->
<div id="aside-right" class="span2">
  <aside role="complementary">
    <a href="/radio">
    <div class="moduletable  black banner">
      <div class="mod-article-single custom mod-article-single__ black banner" id="module_113">
        <div class="item__module" id="item_101">
          <figcaption>radio</figcaption>

          <h4 class="item-title" style="margin-top:45px">Radio del Instituto Del Prado</h4>

          <div class="item_introtext"> Escuchá la radio en vivo</div>

        </div>
      </div>
    </div>
  </a>

  <a href="http://www.colegiodelprado.com.ar" target="_blank">
    <div class="moduletable  white banner">
      <div class="mod-article-single custom mod-article-single__ white banner" id="module_114">
        <div class="item__module" id="item_102">
          <figcaption>WEB</figcaption>
          <h4 class="item-title"style="margin-top:50px"> Visitá el sitio del Instituto Del Prado </h4>

        </div>
      </div>
    </div>
  </a>
  </aside>
</div>
<!-- fin banners-->
