<!-- DESTACADOS -->
<div id="aside-right" class="span2">
  <aside role="complementary">
    <div class="moduletable  black banner">
      <div class="mod-article-single custom mod-article-single__ black banner" id="module_113">
        <div class="item__module" id="item_101">
          <figcaption>Politics</figcaption>

          <h4 class="item-title">
          Duis aute irure dolor in repre henderit in vo luptate velit esse cillum </h4>

          <div class="item_introtext">
          Lorem ipsum dolor sit amet conse ctetur adipi sicing elit, sed do eius mod tempor incididunt ut labore et dolore </div>

          <time datetime="2014-10-20 13:59" class="item_published">
          20 Oct 2014 </time>
        </div>
      </div>
    </div>

    <div class="moduletable  white banner">
      <div class="mod-article-single custom mod-article-single__ white banner" id="module_114">
        <div class="item__module" id="item_102">
          <figcaption>Science</figcaption>

          <h4 class="item-title">
          Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius mod tempor </h4>

          <div class="item_introtext">
          Lorem ipsum dolor sit amet conse ctetur adipi sicing elit, sed do eius mod tempor incididunt ut labore et dolore </div>

          <time datetime="2014-10-20 13:59" class="item_published">
          20 Oct 2014 </time>
        </div>
      </div>
    </div>
  </aside>
</div>
<!-- DESTACADOS-->
