{{!-- Include the header from partials/header.hbs --}}
{{> header}}



              <div class="content">
                  {{#if query}}
                      <h4 class="title">Artículos que contengan “{{query}}”</h4>
                      <div class="subtitle">{{plural pagination.total_items none="No se encontraron resultados" singular="1 artículo encontrado" plural="% artículos encontrados"}}</div>
                  {{else}}
                      <h1 class="title">Buscar</h1>
                      <div class="subtitle">Que estás  buscando??</div>
                  {{/if}}
              </div>

              <section class="page-blog page-blog__">

                    {{#tag}}
                    <header class="page_header">
                      <h3 class="visible-first">
                        <span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">{{name}}</span>
                      </h3>
                    </header>
                    {{/tag}}

                    {{!-- Include the post loop from partials/loop.hbs --}}
                    {{> loop}}

                    {{> pagination}}

                </section>




{{!-- Include the footer from partials/footer.hbs --}}
{{> footer}}
